body {
	
	background-color: #52514a;
	
	}
	
#metin1 {
	
	color: white;
	
	}
	
#links {
	
	color: #12d8f2;
	
	}
	
#ust_baslik {
	
	color: #d4ca45;
	
	}
	
#puan_durumu_baslik {
	
	
	color: white;
	
	}
	
#genel_yazi_rengi {
	
	color:#eeffb5;
	
	}
	
/* daha sonra kullanılabilecek renkler	#d6cb2d #a39d4d */

