header {
	
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #edf2f4;
	border-style: double;
	border-width: 10px;
	border-color: #1d1e27;
	border-radius: 30px;
	text-align: center;
	margin: 10px 110px;
	
	}




body {
	padding-top: 10px;
	background-color: #1d1e27;

	}
	
#puandurumuheader{
	
	background-color: #edf2f4;
	border-style: double;
	border-width: 10px;
	border-color: #1d1e27;
	border-radius: 30px;
	text-align: center;
	color:black;
	margin:10px 350px;	
}
	
.haberMetni {
	
	color: white;
	font-size: 20px;
	
	}
	
.haberBaslıgı {
	
	color: white;
	font-size: 45px;
	
	}
	
.links {
	
	color: #12d8f2;
	font-size: 25px;
	
	}
	
.ust_baslik {
	
	color: black;
	font-size: 30px;
	
	}
	
.alt_baslik {
	
	color: #de4242;
	font-size: 25px;
	
	}
	
	
.haftanin_maclari_tablo {
	
	color:#eeffb5;
	font-size: 20px;
	
	}
	
.en_degerli_11 {
	
	color:#eeffb5;
	font-size: 20px;

	}
	
.oyuncu_resimleri{
	
	border-Style: solid;
	border-radius: 10px;
	border-color: white
	
	
	
	}

	
/* daha sonra kullanılabilecek renkler	#d6cb2d #a39d4d */

